<div class="container-fluid d-flex justify-content-center align-items-center h-75">
  <div class="border border-1 border-dark shadow shadow-lg">
    <form class="p-4" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2 class="text-center">Register</h2>
      <div class="form-group mb-3">
        <input type="text" class="form-control" formControlName="username" placeholder="Username" required="required">
      </div>
      <div class="form-group mb-3">
        <input type="password" class="form-control" formControlName="password" placeholder="Password"
               required="required">
        <div class="text-danger" *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
          Password should be at least
          8 characters long
        </div>
      </div>
      <div class="form-group d-flex justify-content-center mb-3">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="form.controls['username'].invalid || form.controls['password'].invalid">Register</button>
      </div>
      <div class="d-flex justify-content-center">
        <p>Have an account? <a href="/login">Login</a></p>
      </div>
    </form>
  </div>
</div>
