<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="col-6">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="create"><img src="../../assets/logo.png" alt="M" width="45" height="45"
                                      class="d-inline-block align-top"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="edit">Edit words</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="create">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="game">Game</a>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <ul class="navbar-nav mx-4 flex-row-reverse">
        <li class="nav-item">
          <a class="nav-link" href="/login" *ngIf="isUserLogged === 'Login'">Login</a>
          <a class="nav-link" href="#" (click)="logout()" *ngIf="isUserLogged !== 'Login'">{{isUserLogged}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

