<div class="container">
  <table class="table table-bordered my-4">
    <thead>
    <tr>
      <th class="col-3" scope="col">Слово</th>
      <th class="col-3" scope="col">Переклад</th>
      <th class="col-3" scope="col">Дії</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let word of words">
      <td>
        <span *ngIf="!word.isEditing">{{word.word}}</span>
        <input type="text" *ngIf="word.isEditing" [(ngModel)]="word.word">
      </td>
      <td><span *ngIf="!word.isEditing">{{word.translate}}</span>
        <input type="text" *ngIf="word.isEditing" [(ngModel)]="word.translate">
      </td>
      <td>
        <button class="btn btn-sm btn-danger" (click)="deleteWord(word)">Видалити</button>
        <button class="btn btn-sm btn-primary mx-2" *ngIf="!word.isEditing" (click)="editWord(word)">Редагувати</button>
        <button class="btn btn-sm btn-primary mx-2" *ngIf="word.isEditing" (click)="saveWord(word)">Зберегти</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
