<!--<div class="container">-->
<!--  <div class="row d-flex">-->
<!--    <div class="box col-5 d-flex">-->
<!--      <label for="word">Word</label>-->
<!--      <input id="word" type="text" [(ngModel)]="word.word">-->
<!--    </div>-->
<!--    <div class="arrow col-2 d-flex">-></div>-->
<!--    <div class="box col-5 d-flex">-->
<!--      <label for="translation">Translation</label>-->
<!--      <input id="translation" type="text" [(ngModel)]="word.translate">-->
<!--    </div>-->
<!--    <button class="my-4 btn-primary btn" (click)="onAddWord()">Save</button>-->
<!--  </div>-->
<!--</div>-->

<div class="container">
  <div class="row mt-4">
    <div class="col-md-6">
      <h3>Translate from:</h3>
      <select class="form-control mb-3" [(ngModel)]="sendWord.source_language">
        <option value="auto">Automatic</option>
        <option value="en">English</option>
        <option value="ru">Russian</option>
      </select>
      <textarea class="form-control mb-3" rows="8" placeholder="Enter text to translate..." [(ngModel)]="notTranslatedWord"></textarea>
      <button class="btn btn-primary" *ngIf="isAutomaticTranslation" (click)="onTranslate()">Перексласти</button>
    </div>
    <div class="col-md-6">
      <h3>Translation:</h3>
      <select class="form-control mb-3" [(ngModel)]="sendWord.target_language">
        <option value="en">English</option>
        <option value="ru">Russian</option>
      </select>
      <textarea class="form-control mb-3" rows="8" placeholder="Translated text..." [readOnly]="isAutomaticTranslation" [(ngModel)]="word.translate"></textarea>
      <p><input id="check" type="checkbox" class="btn btn-primary" (change)="isAutomaticTranslationChange()">Автоматичний переклад</p>
      <button class="btn btn-dark" (click)="onAddWord()">Зберегти</button>
    </div>
  </div>
</div>
